<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mall.shortlink.mapper.ShortLinkMapper">

    <select id="listGroupShortLinkCount" resultType="com.my.mall.api.shortlink.dto.GroupShortLinkCountDTO">
        select t.gid, count(*) AS count
            from t_link t
            where t.enable_status = 1 and t.del_flag = '0'
                and t.gid in
            <foreach collection="gids" open="(" separator="," close=")" item="gid">
                #{gid}
            </foreach>
            group by t.gid
    </select>

    <select id="pagesShortLink" resultType="com.my.mall.common.data.entity.LinkDO">
        select
            t.*,
            COALESCE(s.today_pv, 0) as todayPv,
            COALESCE(s.today_uv, 0) as todayUv,
            COALESCE(s.today_uip, 0) as todayUip
        from t_link t
        left join t_link_stat_today s on t.full_short_url == s.full_short_url and s.date = CURDATE()
        where
            t.gid in
            <foreach collection="gids" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        and t.enable_status = 0
        and t.del_flag = 0
        order by t.update_time
    </select>

    <!-- 自增短链接访问次数 -->
    <update id="incrementStats">
        UPDATE t_link
        SET total_pv  = total_pv + #{totalPv},
            total_uv  = total_uv + #{totalUv},
            total_uip = total_uip + #{totalUip}
        WHERE gid = #{gid}
          AND full_short_url = #{fullShortUrl}
    </update>

    <select id="pageShortLink" resultType="com.my.mall.common.data.entity.LinkDO">
        select t.*,
        coalesce(s.today_pv, 0) as todayPv,
        coalesce(s.today_uv, 0) as todayUv,
        coalesce(s.today_uip, 0) as todayUip
        from t_link t
        left join t_link_stats_today s on s.full_short_url = t.full_short_url
        and s.date = CURDATE()
        where t.gid = #{gid}
        and t.enable_status = 1
        and t.del_flag = '0'
        <choose>
            <when test="orderTag == 'todayPv'">
                order by todayPv desc
            </when>
            <when test="orderTag == 'todayUv'">
                order by todayUv desc
            </when>
            <when test="orderTag == 'todayUip'">
                order by todayUip desc
            </when>
            <when test="orderTag == 'totalPv'">
                order by totalPv desc
            </when>
            <when test="orderTag == 'totalUv'">
                order by totalUv desc
            </when>
            <when test="orderTag == 'totalUip'">
                order by totalUip desc
            </when>
            <otherwise>
                order by t.create_time
            </otherwise>
        </choose>

    </select>

</mapper>